@model WM.Merchant.Models.CreateOrderRequest
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh toán thành công</h2>
<p>&nbsp;</p>

    <div class="row">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><b>Tên sản phẩm:</b></td>
                    <td>Apple IPhone 6S 64GB</td>
                </tr>
                <tr>
                    <td><b>Tổng tiền:</b></td>
                    <td><span class="col-3-xs">100 VNĐ</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                    <span class="col-3-xs">Thanh toán thành công</span>
                </tr>
            </tbody>
        </table>
    </div>
    



